<ion-header>

      <ion-title>{{chatpartner.email}}</ion-title>
  
  </ion-header>
  
  
  <ion-content #content padding id="chatPage">
  
    <ion-list>
  
      <ion-item *ngFor="let chat of chats | sort:'time'" class="chat" text-wrap [ngClass]="{'chat-partner' : isChatPartner(chat.sender)}">
        {{chat.message}}
      </ion-item>
  
    </ion-list>
  
  </ion-content>
  
  <ion-footer>
    <ion-toolbar>
      <ion-row>
        <ion-col col-10>
          <ion-input type="text" [(ngModel)]="message" placeholder="Enter Message...."></ion-input>
        </ion-col>
        <ion-col col-2>
          <button ion-button block (click)="addChat()">
            {{"SEND" | translate}}
          </button>
        </ion-col>
      </ion-row>
  
  
    </ion-toolbar>
  </ion-footer>